.item {
    /* display: flex;
    align-items: center;
    background: lightgrey; */
    padding: 0;
}

.item:hover {
    background: lightyellow;
    padding: unset;
}

.item .command {
    /* padding: .25em 1em;
    margin: .25em 0 .25em 1em; */
    display: none;
}

.item:hover .command {
    display: block;
}