/* .item {
    display: flex;
    align-items: center;
    background: lightgrey;
} */

.item:hover {
    /* background: lightyellow; */
    padding: .25em;
}

.item .command {
    display: none;
}

.item:hover .command {
    display: inherit;
}