/* .root {

}

.todoItem {

} */

.todoItem:nth-of-type(odd) {
    background-color: lightgrey;
}

.todoItem:hover {
    background-color: darkgrey;
}

.todoItem button {
    color: transparent;
}

.todoItem:hover button {
    color: 'red';
}

.todoItem.completed span {
    color: grey;
    text-decoration: line-through;
}
