.card {
    border: dashed thin gray;
    padding: .5em 1em;
    margin-bottom: .5em;
    background-color: lightgray;
    cursor: move;
}

.preview {
    display: inline-block;
    transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    border: dashed 2px red;
    opacity: .7;
    width: 400px;
}